body{
  background:#011627;
  text-align: center;
  color:white;
  font-family: 'Berkshire Swash', cursive;
  border: 40px solid #2EC486;
  border-top: 0px;
  margin: 0px;
}
p{
  padding-top: 4%;
  padding-left: 25%;
  padding-right: 25%;
}
form{
  font-size: 1.5em;
  margin-bottom: 10px;
}
#sub{
  background: #FF9F1C;
  height: 60px;
  width: 150px;
  margin: 10px;
  font-size: 1em;
  border-radius: 30px;
}
